<form id="form-createAP">
    <div>
        <label for="Node" id="prueba"> Nodo: </label>
        <br />
        <input type="text" name="node" id="node" placeholder="Ingrese Nodo" />
    </div>

    <div>
        <label for="ip"> IP: </label>
        <br />
        <input type="text" name="ip" id="ip" placeholder="Ingrese ip" />
    </div>

    <div>
        <label for="technology"> Tecnología: </label>
        <br />
        <select type="text" id="technology">
            <option value="ePMP">ePMP</option>
            <option value="pmp450">PMP 450</option>
            <option value="Ubiquiti">Ubiquiti</option>
        </select>
    </div>

    <div>
        <label for="serviceMax"> Servicio Máximo: </label>
        <br />
        <input type="number" name="serviceMax" id="serviceMax" placeholder="Servicio Máximo" />
    </div>

    <div>
        <input id="btnAddAP" type="submit" value="Crear AP" />
    </div>
</form>
<br>
<form id="form-eliminar">
    <div>
        <label for="ipEliminar"> IP: </label>
        <br />
        <input type="text" name="ipEliminar" id="ipEliminar" placeholder="Ingrese ip" />
    </div>
    <div>
        <input id="btnEliAP" type="submit" value="Eliminar AP" />
    </div>
</form>
<script src="/js/formCreateAP.js"></script>