<h1>Sing Up</h1>

<form action="/api/session/singup" method="post">
    FirstName: <input type="text" name="first_name"><br>
    LastNAme: <input type="text" name="last_name"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="text" name="password"><br>

    <button type="submit">Sing Up</button>
</form>